$base-color: gray;

@import '../Node.scss';

.header{
  display: block;
  top: 0;
  margin-top: $border;
  margin-left: $border;
  margin-right: $border;
  width: 100%;
  height: calc(#{$optionalbar-height} - #{$border});

  .name-box{
    display: block;
    top: 0;
    width: calc(100% - #{$border} - #{$border});
    text-align: center;
    background: $base-color;
    padding: 0;
    margin: 0;
    border: 0;
    &:focus{
      background: rgba(256, 256, 256, 0.5);
    }
  }

  .button{
    background: $base-color;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    vertical-align: top;
    margin-top: $border;
    margin-right: $border;
    border: 0;
    height: calc(#{$optionalbar-height} - #{$border});
    cursor: pointer;
  }
}
