$base-color: gray;
$optionalbar-height: 20px;

.container {
  position: absolute;
  background: $base-color;
  overflow: hidden;
  min-height: 30px;
  min-width: 40px;
  height: 120px;
  width: 160px;
  resize: both;
  opacity: 0;
  box-sizing: border-box;
  border-radius: 5px;
  /*
  // background-color: rgb(190, 205, 214);
  // transition: box-shadow 0.5s;
  // box-shadow:
  // 10px 10px 30px rgba(18, 47, 61, 0.5),
  // -10px -10px 30px rgba(248, 253, 255, 0.9),
  // inset 10px 10px 30px transparent,
  // inset -10px -10px 30px transparent;
  // &:hover{
    //   box-shadow: none;
  // }
  */
}

.base-header{
  display: block;
  top: 0;
  width: 100%;
  height: $optionalbar-height;

  .nameBoxInBase{
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $base-color;
    padding: 0;
    margin: 0;
    border: 0;
    &:focus{
      background: rgba(256, 256, 256, 0.5);
    }
  }

  .deleteButton{
    background: $base-color;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border: 0;
    height: 20px;
  }
}

.base-main-optbar-0{
  position: relative;
  display: block;
  background: black;
  width: 100%;
  height: calc(100%);
}
$joint-width: 5px;
.ioarea-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.base-main-optbar{
  position: relative;
  display: block;
  background: black;
  width: 100%;
  height: 100%;
}
.io-area{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.io-container{
  height: $optionalbar-height;
  width: 100%;
}

.joint-container{
  position: relative;
  display: block;
  width: $optionalbar-height;
  height: $optionalbar-height;
  &.input{ float: left; }
  &.output{ float: right; }

  .joint{
    position: absolute;
    display: inline-block;
    width: $joint-width;
    height: $joint-width;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: orange;
    border: solid 2px $base-color;
    border-radius: 50%;
    box-shadow: 0 0 0 1px orange;
  }
}

.nameBoxInInput{
  display: block;
  height: 100%;
  width: calc(100% - #{$optionalbar-height});
  border: 0;
  padding: 0;
  float: left;
}
.nameBoxInOutput{
  display: block;
  height: 100%;
  width: calc(70% - #{$optionalbar-height});
  border: 0;
  padding: 0;
  float: left;
}

.output-value{
  display: block;
  text-overflow: ellipsis;
  height: 100%;
  width: 30%;
  float: left;
  margin: 0;
}
