$base-color: gray;
$optionalbar-height: 20px;
$border: 5px;

.container {
  position: absolute;
  background: $base-color;
  overflow: hidden;
  opacity: 0;
  border-radius: 5px;
  border: $border solid rgba(0,0,0,0);
  &.resizable {
    min-height: 30px;
    min-width: 40px;
    width: 160px;
  }
}

:export {
 optionalbarHeight: $optionalbar-height;
}
